<!DOCTYPE html>
<html lang="de">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <link href="{% static 'css/bootstrap-purple-blue.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Lato:100,300,400,700,100italic,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    {% block styles %}{% endblock %}
</head>

<body>
	<nav>
		<ul class="nav nav-pills nav-justified nav-tabs-darker">
	        <li class="{% if nbar == 'home' %}active{% endif %}"><a href="{% url 'de:index' %}"><i class="fa fa-home"></i> Startseite</a></li>
	        <li class="{% if nbar == 'generator' %}active{% endif %}"><a href="{% url 'de:generator' %}"><i class="fa fa-list-alt"></i> Generator</a></li>
	        <li class="{% if nbar == 'archiv' %}active{% endif %}"><a href="{% url 'de:archiv' %}"><i class="fa fa-list"></i> Archiv</a></li>
	        {% if user.is_authenticated %}
	        	<li class="{% if nbar == 'profil' %}active{% endif %}"><a href="{% url 'einstellungen' uname=request.user.username %}"><i class="fa fa-address-card"></i> Profil</a></li>
	        	<li class="{% if nbar == 'logout' %}active{% endif %}"><a href="{% url 'signout' %}"><i class="fa fa-sign-out"></i> Ausloggen</a></li>
	        {% else %}
		        <li class="{% if nbar == 'login' %}active{% endif %}"><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> Einloggen</a></li>
		        <li class="{% if nbar == 'register' %}active{% endif %}"><a href="{% url 'register' %}"><i class="fa fa-user-plus"></i> Registrieren</a></li>
		    {% endif %}
	    </ul>
	</nav>
	<div class="container">
		{% block content %}
		<!-- OK -->
		{% endblock %}
	</div>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    {% block scripts %}{% endblock %}
</body>

</html>