{% extends "lotto/basis.html" %}
	{% load staticfiles %}
	{% block styles %}
		<link href="{% static 'css/datepicker.min.css' %}" rel="stylesheet">
		<link href="{% static 'css/bootstrap-tour.min.css' %}" rel="stylesheet">
	{% endblock %}
	{% block content %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Lottozahlengenerator <button id="anleitung" type="button" class="btn btn-sm btn-info">Anleitung</button></h3>
			</div>
			<div class="panel-body">
				<div class="">
					<div class="panel panel-default col-md-6">
						<div class="panel-heading">
							<h3 class="panel-title">Wählen Sie das Spieldatum aus</h3>
						</div>
						<div class="panel-body table-responsive">
							<div class="form-group">
								<label for="tagzieh">Ziehtage berücksichtigen</label>
								<select name="tagzieh" id="tagzieh" class="form-control">
								</select>
							</div>
							<div class='input-group date'>
							    <span class="input-group-btn">
									<button class="btn btn-default bootstrap-touchspin-down" type="button" id="new_zahlen" data-toggle="tooltip" title="Prüft, ob neue Zahlen gibt und fügt diese der Datenbank hinzu"><i class="fa fa-bars" aria-hidden="true"></i> Aktualisieren</button>
								</span>
							    <input data-range="true" data-multiple-dates-separator=" - " id="dtdt" type="text" class="form-control datepicker-here" value="" style="cursor: pointer;" data-toggle="tooltip" title="Klicken, um Datum auszuwählen">
							</div>
						</div>
						<div class="panel-heading">
							<h3 class="panel-title">Wählen Sie 6 Zahlen aus</h3>
						</div>
						<div class="panel-body table-responsive">
							<table class="table table-bordered table-gen">
							</table>
							<div class="form-group">
								<div class="input-group bootstrap-touchspin">
									<span class="input-group-btn">
										<button class="btn btn-success bootstrap-touchspin-down" type="button" id="add_list" data-toggle="tooltip" title="Dem leeren Spielfeld die Glückszahlen hinzufügen"><i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i> Hinzufügen</button>
									</span>
									<span class="input-group-addon bootstrap-touchspin-prefix" style="display: none;"></span>
									<input name="temp" id="temp" placeholder="Ihre gewählten Zahlen" class="form-control" readonly style="display: block;" data-toggle="tooltip" title="Diese Zahlen werden dem Spielfeld hinzugefügt">
									<span class="input-group-addon bootstrap-touchspin-postfix" id="temp_len" data-toggle="tooltip" title="Gibt Anzahl der übriggebliebenen Zahlen an">6</span>
									<span class="input-group-btn">
										<button id="clear_list" class="btn btn-danger bootstrap-touchspin-up" type="button" data-toggle="tooltip" title="Leert den Zwischenspeicher mit den Glückszahlen"><i class="fa fa-times" aria-hidden="true"></i> Leeren</button>
									</span>
								</div>
							</div>
						</div>
						<div class="panel-heading">
							<h3 class="panel-title">Wählen Sie Ihre Superzahl aus</h3>
						</div>
						<div class="panel-body table-responsive">
							<table class="table table-bordered table-super">
							</table>
						</div>
					</div>
					<div class="col-md-6">
						<div class="panel panel-default" id="meinewahl">
							<div class="panel-heading">
								<h3 class="panel-title">Ihre Wahl</h3>
							</div>
							<div class="panel-body">
								<ul class="list-group" id="list">
								</ul>
								<ul class="list-group" id="super">
									<li data-id="sz" class="list-group-item">
										<strong>Ihre Superzahl: </strong>
										<span data-feld="sz" id="feld-sz"></span>
									</li>
								</ul>
							</div>
							<div class="panel-footer">
								<div class="pull-right">
									<button id="rand" type="button" class="btn btn-cyanide">
										<i class="fa fa-random" aria-hidden="true"></i> Zufallszahlen
									</button>
									<button id="add" type="button" class="btn btn-success">
										<i class="fa fa-plus" aria-hidden="true"></i> Feld hinzufügen
									</button>
									<button id="del" type="button" class="btn btn-danger">
										<i class="fa fa-times" aria-hidden="true"></i> Feld entfernen
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel-heading">
				<h3 class="panel-title">Statistik</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10">
						<ul class="list-group statistik">
							<li class="list-group-item tickets"><span class="badge" id="ticket">0,35 &euro;</span><strong>Gebühren für Tickets (1€ pro Ticket):</strong></li>
							<li class="list-group-item felder"><span class="badge" id="gebuehren">1 &euro;</span><strong>Gebühren für Felder (0,35€ pro Feld):</strong></li>
							<li class="list-group-item gewinn"><span class="badge" id="gewinn">0 &euro;</span><strong>Gewinn:</strong></li>
						</ul>
						
					</div>
					<div class="col-md-2 vrgllll" data-toggle="tooltip" title="Bitte, erst Datum wählen, dann vergleichen">
						<button id="vergleichen" class="btn btn-primary btn-block">Vergleichen</button>
					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" tabindex="-1" role="dialog" id="vrgl">
		    <div class="modal-dialog modal-lg" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
		                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		                <h4 class="modal-title">Vergleichsergebnisse für <span class="datum"></span></h4>
		            </div>
		            <div class="modal-body">
			            <ul class="nav nav-tabs" role="tablist" id="tage">
			            </ul>
			            <div class="tab-content" id="tage_cont">
			            		
			            </div>
		            </div>
		            <div class="modal-footer">
		                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
		            </div>
		        </div>
		    </div>
		</div>
	{% endblock %}
	{% block scripts %}
		<script src="http://static.maxim-harder.de/extra/gritter/jquery.gritter.min.js"></script>
		<script src="{% static "js/datepicker.min.js" %}"></script>
		<script src="{% static "js/datepicker.de.js" %}"></script>
		<script src="{% static 'js/moment.min.js' %}"></script>
		<script src="{% static 'js/moment.de.js' %}"></script>
		<script src="{% static 'js/bootstrap-tour.min.js' %}"></script>
		<script type="text/javascript">
		var felder = {{anzahl}}
		var zieh = {{ziehung}}
		</script>
    	<script type="text/javascript" src="{% static "js/gen-scripts.js" %}"></script>
	{% endblock %}