{% extends "lotto/basis.html" %}
	{% block content %}
	<div class="jumbotron">
		<h1>{{title}}</h1>
		<small>{{description}}</small>
		<p>Um mit der Lotterie fortzufahren, muss man zuerst die Grundeinstellungen durchgehen. Erst dann wird das Archiv zur Verfügung stehen und der Generator selbst.</p>
		<p>
			{% if user.is_authenticated %}
				<a href="{% url 'einstellungen' uname=request.user.username %}" class="btn btn-primary">Zu den Einstellungen</a>&nbsp;
			{% else %}
				<a href="{% url 'login' %}" class="btn btn-success">Einloggen</a>&nbsp;
				<a href="{% url 'register' %}" class="btn btn-warning">Registrieren</a>&nbsp;
			{% endif %}
			<a href="{% url 'startpage' %}" class="btn btn-danger">Zurück zur Auswahl</a>
		</p>
	</div>
	{% endblock %}