{% extends "lotto/basis.html" %}
	{% load staticfiles %}
	{% block content %}
		{% if not user.is_authenticated %}
			<div class="alert alert-success" role="alert">
			  <h1>Herzlich Willkommen!</h1>
			  <p>Sie haben sich erfolgreich eingeloggt!</p>
			</div>
			<script>
			window.setTimeout('window.location = "/"',2000);
			</script>
		{% else %}
			<div class="alert alert-warning" role="alert">
			  <h1>Auf Wiedersehen!</h1>
			  <p>Sie haben sich erfolgreich ausgeloggt!</p>
			</div>
			<script>
			window.setTimeout('window.location = "/"',2000);
			</script>
		{% endif %}
	{% endblock %}