{% extends "lotto/basis.html" %}
	{% load staticfiles %}
	{% block content %}
		{% if user.is_authenticated %}
			<div class="alert alert-success" role="alert">
			  <h1>Herzlich Willkommen!</h1>
			  <p>Sie haben sich erfolgreich eingeloggt!</p>
			</div>
			<script>
			window.setTimeout('window.location = "/"',2000);
			</script>
		{% else %}
			<div class="panel panel-default">
			  	<div class="panel-heading">
					<h3 class="panel-title">Benuzterlogin</h3>
			  	</div>
			  	<div class="panel-body">
			    	<form action="{% url 'dologin' %}" method="POST">
			    		{% csrf_token %}
			    		<div class="form-group">
			    			<label for="name">Benutzername:</label>
			    			<input name="name" id="name" placeholder="Benutzername" type="text" class="form-control" />
			    		</div>
			    		<div class="form-group">
			    			<label for="pw1">Passwort</label>
			    			<input name="pw1" id="pw1" placeholder="Passwort" type="password" class="form-control" />
			    		</div>
			    		<button id="sub" type="submit" class="btn btn-success">Anmelden</button>
			    	</form>
			  	</div>
			</div>
		{% endif %}
	{% endblock %}