{% extends "lotto/basis.html" %}
	{% load staticfiles %}
	{% block content %}
		<div class="panel panel-default">
		  	<div class="panel-heading">
				<h3 class="panel-title">Registrierung</h3>
		  	</div>
		  	<div class="panel-body">
		    	<form action="{% url 'doreg' %}" method="POST">
		    		{% csrf_token %}
		    		<div class="form-group">
		    			<label for="name">Benutzername:</label>
		    			<input name="name" id="name" placeholder="Benutzername" type="text" class="form-control" />
		    			<small id="check_login"></small>
		    		</div>
		    		<div class="form-group">
		    			<label for="email">E-Mailadresse</label>
		    			<input name="email" id="email" placeholder="E-Mail" type="email" class="form-control" />
		    			<small id="check_email"></small>
		    		</div>
		    		<div class="form-group">
		    			<label for="pw1">Passwort</label>
		    			<input name="pw1" id="pw1" placeholder="Passwort" type="password" class="form-control" />
		    			<small class="check_pw"></small>
		    		</div>
		    		<div class="form-group">
		    			<label for="pw2">Passwort (wiederholen)</label>
		    			<input name="pw2" id="pw2" placeholder="Passwort wiederholen" type="password" class="form-control" />
		    			<small class="check_pw"></small>
		    		</div>
		    		<button id="sub" type="submit" class="btn btn-success">Registrieren</button>
		    	</form>
		  	</div>
		</div>
	{% endblock %}
	{% block scripts %}
		<script type="text/javascript" src="{% static "js/login.js" %}"></script>
	{% endblock %}