{% extends "lotto/basis.html" %}
	{% load staticfiles %}
	{% block content %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Benutzereinstellungen: {{login}} {% if trust == True %}[ <a role="button" data-toggle="collapse" href="#edit" aria-expanded="false" aria-controls="edit">bearbeiten</a> ] {% endif %}</h3>
			</div>
			<div class="panel-body">
				<ul class="list-group">
					<li class="list-group-item"><span class="badge">{{login}}</span>Benutzername:</li>
					<li class="list-group-item"><span class="badge">{{email}}</span>Email:</li>
					<li class="list-group-item"><span class="badge">{{lastvisit}}</span>Letzer Besuch:</li>
					<li class="list-group-item"><span class="badge">{{regdate}}</span>Registriert am:</li>
				</ul>
				{% if trust == True %}
					<div class="collapse" id="edit">
						<div class="alert alert-warning">
							<h1>Keine Angst!</h1>
							<p>Diesen Bereich kannst nur du(!) sehen!</p>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Benuztereinstellungen bearbeiten</h3>
					  		</div>
			  				<div class="panel-body"></div>
								<form action="{% url 'doedit' %}" method="POST">
									{% csrf_token %}
									<div class="form-group">
										<label for="email">Ihre Email</label>
										<input name="email" type="email" id="email" value="{{email}}" class="form-control" />
										<small id="echeck"></small>
									</div>
									<div class="form-group">
										<label for="pw">Ihr neues Passwort</label>
										<div>
											<input name="pw" type="password" id="pw" placeholder="Ihr neues Passwort" class="form-control col-md-6" style="width:49%;float: left;" />
											<div style="width:2%;float: left;">&nbsp;</div>
											<input name="pw2" type="password" id="pw2" placeholder="Ihr neues Passwort (wiederholen)" class="form-control col-md-6" style="width:49%;float: left;" />
										</div>
										<small id="pw_stat"></small>
										<div class="clearfix"></div>
									</div>
									<div class="form-group">
										<label for="de">Wieviel Felder in der 6 aus 49 Lotterie (Deutschland)?</label>
										<input name="de" type="number" id="de" value="{{de}}" class="form-control" />
										<small id="de-filter"></small>
									</div>
									<div class="form-group">
										<label for="ziehung">Welche Tage sollen bei dem Vergleich in Betracht gezogen werden? (Deutschland)</label>
										<select name="ziehung" id="ziehung" class="form-control"></select>
										<small id="de-filter"></small>
									</div>
									<div class="form-group">
										<label for="eu">Wieviel Felder in der 5 aus 50 Lotterie? (Europa)</label>
										<input name="eu" type="number" id="eu" value="{{eu}}" class="form-control" />
										<small id="eu-filter"></small>
									</div>
									<input type="hidden" name="user_login" value="{{login}}">
									<input type="submit" value="Speichern" class="btn btn-success" />
								</form>
							</div>
						</div>
					</div>
				{% endif %}
			</div>
		</div>
	{% endblock %}
	{% block scripts %}
		<script src="http://static.maxim-harder.de/extra/gritter/jquery.gritter.min.js"></script>
		<script>
			var zieh = {{ziehung}}
		</script>
		<script src="{% static 'js/settings.js' %}"></script>
	{% endblock %}