body {
	background: url(../images/bg.png) repeat;
}
nav {
	background-color: white;
}
.kasten{
    margin: 20% auto;
    max-width: 700px;
    width: 100%;	
}
.kasten > h1 {
	text-align:center;
}
ul.wahl {
	list-style: none;
	margin: 0% auto;
    text-align: center;
}
.wahl>li {
	display: inline-block;
}
.table-gen,
.table-super {
	max-width:500px;
	max-height:500px;
	width:100%;
	height:100%;
}
.table tr > td {
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-moz-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	-o-transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
	transition: all 500ms cubic-bezier(0.42, 0, 0.58, 1) 10ms;
}
.table tr > td:hover {
	background: #ffe5e5;
}
[id*="feld-"] {
	color: #cc0000;
	cursor:pointer;
}
tr > td.checked {
	background: #cc0000;
    color: white;
} color: black;
}
.wzahlen {
	margin-bottom: 10px;
    text-align: center;
}
.wzahlen > .wzahl {
	display: inline-block;
    border: 1px solid #515c93;
    padding: 20px;
    height: 51px;
    text-align: center;
    line-height: 0.7em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.wzahl.super {
	border-color: #cc0000;
    margin-left: 30px;
}
div.tooltip-inner {
    max-width: none;
     word-wrap: break-word;
}
.popover-navigation .fa {
	font-size: 0.8em;
}
.gewinnzahlen{
	text-align: center;
}
.gewinnzahlen > .kreis{
	width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #6a75ad;
    border-radius: 50%;
    padding: 27px;
    font-size: xx-large;
    font-weight: bold;
	background: radial-gradient(circle at 26px 20px, #ffffff, #3a3a3a);
	color: white;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
	position: relative;
	-webkit-transition: transform 1s cubic-bezier(0.25, 0.25, 0.75, 0.75) 15ms;
	-moz-transition: transform 1s cubic-bezier(0.25, 0.25, 0.75, 0.75) 15ms;
	-o-transition: transform 1s cubic-bezier(0.25, 0.25, 0.75, 0.75) 15ms;
	transition: transform 1s cubic-bezier(0.25, 0.25, 0.75, 0.75) 15ms;
}
.gewinnzahlen > .kreis b {
	display: block;
    width: 60px;
    height: 60px;
    background: white;
    position: absolute;
    border-radius: 50%;
    border: 1px solid black;
    top: 20px;
    left: 20px;
    box-shadow: inset 0px 0px 11px black;
    padding: 6px;
}
.kreis.super {
	background: radial-gradient(circle at 26px 20px, #fdea13, #716d0d) !important;
}
.kreis:hover {
	-webkit-transform: rotateZ(360deg) scaleX(1.1) scaleY(1.1) scaleZ(1.1)  ;
	transform: rotateZ(360deg) scaleX(1.1) scaleY(1.1) scaleZ(1.1)  ;
	-webkit-transition: transform 1s cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
	-moz-transition: transform 1s cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
	-o-transition: transform 1s cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
	transition: transform 1s cubic-bezier(0.68, -0.75, 0.265, 1.75) 10ms;
}
.datatables_search {
	right: 220px !important;
}
.data tr.odd a {
	color: white;
}
table>thead>tr>th {
	text-align: center;
	font-weight: 600 !important;
}
table.dataTable thead .sorting:after,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_desc_disabled:after {
	font-family: "FontAwesome";
	display: block;
	float: right;
}
table.dataTable thead .sorting:after {
	content: '\f0dc';
	color: #8b94bf;
}
table.dataTable thead .sorting_asc:after  {
	content: '\f0de';
	color: #8b94bf;
}
table.dataTable thead .sorting_desc:after  {
	content: '\f0dd';
	color: #8b94bf;
}
table.dataTable thead .sorting_asc_disabled:after  {
	content: '\f0de';
	color: #e6e6e6;
}
table.dataTable thead .sorting_desc_disabled:after  {
	content: '\f0dd';
	color: #e6e6e6;
}