{% extends "lotto/basis.html" %}
	{% load staticfiles %}
	{% block styles %}
	{% endblock %}
	{% block content %}
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Archiv</strong></h3>
			</div>
			<div class="panel-body">
				{% if data_list %}
				<table class="table table-responsive table-hover table-color-lighter table-striped data">
					<thead>
						<tr>
							<th>Datum</th>
							<th>Zahl 1</th>
							<th>Zahl 2</th>
							<th>Zahl 3</th>
							<th>Zahl 4</th>
							<th>Zahl 5</th>
							<th>Zahl 6</th>
							<th>Superzahl</th>
						</tr>
					</thead>
					<tbody>
					{% for data in data_list %}
						<tr>
							<td data-search="{{ data.datum }}" data-order="{{ data.datum|date:"Y-m-d" }}"><a href="/de/zahltag/{{ data.datum|date:"Y-m-d" }}/">{{ data.datum|date }}</a></td>
							<td>{{ data.zahl1 }}</td>
							<td>{{ data.zahl2 }}</td>
							<td>{{ data.zahl3 }}</td>
							<td>{{ data.zahl4 }}</td>
							<td>{{ data.zahl5 }}</td>
							<td>{{ data.zahl6 }}</td>
							<td>{{ data.zahls }}</td>
						</tr>
					{% endfor %}
					</tbody>
				</table>
				{% else %}
					<p>Derzeit keine Ziehungen in der Datenbank vorhanden. </p>
				{% endif %}
			</div>
		</div>
	{% endblock %}
	{% block scripts %}
	    <script type="text/javascript" src="{% static "js/jquery.dataTables.1.10-dev.js" %}"></script>
	    <script type="text/javascript" src="{% static "js/datatables.js" %}"></script>
	    <script>
	    $('.data').dataTable( {
	        "sPaginationType": "bs_normal",
	            "oLanguage": {
	            "oPaginate": {
	            "sPrevious": '',
	            "sNext":''
	        },
	        "sInfo": "Es werden _START_ bis _END_ von _TOTAL_ Einträgen angezeigt",
	        "sLengthMenu": "_MENU_ Einträge",
	        "sInfoEmpty": "Showing 0 to 0 of 0 records",
	        "sInfoFiltered": "(gefiltert von _MAX_ Gesamteinträgen)",
	        "sSearch": "<span class=\"datatables_search\">Suche:</span>"
	        }
	    });
	    </script>
	{% endblock %}