{% extends "lotto/basis.html" %}
	{% load staticfiles %}
	{% block styles %}
	{% endblock %}
	{% block content %}
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><strong>Gewinnziehung am:</strong> {{ object.datum|date }}</h3>
			</div>
			<div class="panel-body">
				<div class="gewinnzahlen">
					<div class="kreis"><b title="Die Gewinnzahl {{ object.zahl1 }}">{{ object.zahl1 }}</b></div>
					<div class="kreis"><b title="Die Gewinnzahl {{ object.zahl2 }}">{{ object.zahl2 }}</b></div>
					<div class="kreis"><b title="Die Gewinnzahl {{ object.zahl3 }}">{{ object.zahl3 }}</b></div>
					<div class="kreis"><b title="Die Gewinnzahl {{ object.zahl4 }}">{{ object.zahl4 }}</b></div>
					<div class="kreis"><b title="Die Gewinnzahl {{ object.zahl5 }}">{{ object.zahl5 }}</b></div>
					<div class="kreis"><b title="Die Gewinnzahl {{ object.zahl6 }}">{{ object.zahl6 }}</b></div>
					<div class="kreis super"><b title="Die Superzahl {{ object.zahls }}">{{ object.zahls }}</b></div>
				</div>
				<div class="clearfix" style="margin-top:20px;"></div>
				<table class="table table-responsive table-hover table-color-lighter table-striped">
					<thead>
						<tr>
							<th>Gewinnklasse</th>
							<th>Beschreibung</th>
							<th>Gewinn</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1.</td>
							<td>6 richtig geratene Gewinnzahlen und richtig getippte Superzahl</td>
							<td>{{ object.gk1 }} €</td>
						</tr>
						<tr>
							<td>2.</td>
							<td>6 richtig geratene Gewinnzahlen</td>
							<td>{{ object.gk2 }} €</td>
						</tr>
						<tr>
							<td>3.</td>
							<td>5 richtig geratene Gewinnzahlen und richtig getippte Superzahl</td>
							<td>{{ object.gk3 }} €</td>
						</tr>
						<tr>
							<td>4.</td>
							<td>5 richtig geratene Gewinnzahlenl</td>
							<td>{{ object.gk4 }} €</td>
						</tr>
						<tr>
							<td>5.</td>
							<td>4 richtig geratene Gewinnzahlen und richtig getippte Superzahl</td>
							<td>{{ object.gk5 }} €</td>
						</tr>
						<tr>
							<td>6.</td>
							<td>4 richtig geratene Gewinnzahlen</td>
							<td>{{ object.gk6 }} €</td>
						</tr>
						<tr>
							<td>7.</td>
							<td>3 richtig geratene Gewinnzahlen und richtig getippte Superzahl</td>
							<td>{{ object.gk7 }} €</td>
						</tr>
						<tr>
							<td>8.</td>
							<td>3 richtig geratene Gewinnzahlen</td>
							<td>{{ object.gk8 }} €</td>
						</tr>
						<tr>
							<td>9.</td>
							<td>2 richtig geratene Gewinnzahlen und richtig getippte Superzahl</td>
							<td>{{ object.gk9 }} €</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	{% endblock %}
	{% block scripts %}
	{% endblock %}